* {
  --primary-bgcolor: #2b2b2b;
  --primary-fontcolor: white;
  --secondary-bgcolor: white;
  --primary-fgcolor: #4202ff;
  --secondary-fgcolor: #1d3557;
  --button-color: #230090;
  --button-hover-color: #1f007f;
}

.wrapper {
  padding: 2rem;
}

body {
  background-color: var(--primary-bgcolor);
  color: var(--primary-fgcolor);
  margin: 0;
}

.boiler-header {
  background-color: var(--primary-bgcolor);
  color: var(--primary-fontcolor);
  margin: 0;
  padding: 1rem;
}

h1 {
  background-clip: border-box;
  height: auto;
  line-height: 1.5em;
  margin: 0;
}

span.subtitle {
  font-weight: lighter;
  color: var(--secondary-bgcolor);
}

.boiler-card {
  position: relative;
  text-align: left;
  background-color: var(--primary-fgcolor);
  color: var(--primary-fontcolor);
  margin: 1rem;
  border-radius: 10px 10px 10px 10px;
  height: 100%;
  flex: 0 30.5%;
  max-width: 70ch;
}

.boiler-card header {
  text-align: center;
  font-size: 12pt;
  /* background-color: var(--secondary-bgcolor); */
  margin: 0;
  border-radius: 10px 10px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.card-title,
.card-subtitle {
  color: var(--primary-fontcolor);
  margin: 0;
}

.card-title {
  font-weight: bold;
}

.card-subtitle {
  color: #bccaff;
  font-weight: bold;
  font-size: 14px;
}

.card-body {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  display: grid;
}

.card-body p {
  width: auto;
  font-size: 110%;
  justify-self: center;
}

.boiler-card-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.boiler-card button {
  background-color: var(--button-color);
  color: #fff;
  border: none;
  margin: 0.2em;
  padding-left: 1.4em;
  padding-right: 1.4em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-radius: 18px 18px 18px 18px;
}

.card-button-array {
  position: absolute;
  bottom: 1em;
}

.card-snackbar { 
  width: max-content;
  line-break: loose;
  display: flex;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-color);
}

.input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
