* {
    --primary-bgcolor: #2b2b2b;
    --primary-fontcolor: white;
    --secondary-bgcolor: white;
    --primary-fgcolor: #4202ff;
    --secondary-fgcolor: #1D3557;
    --button-color: #230090;
    --button-hover-color: #1f007f;
}

body {
    background-color: var(--primary-bgcolor);
    color: var(--primary-fgcolor);
    margin: 0;
}


.boiler-header {
    background-color: var(--primary-bgcolor);
    color: var(--primary-fontcolor);
    margin: 0;
    padding: 1rem;
}

h1 {
    background-clip: border-box;
    height: auto;
    line-height: 1.5em;
    margin: 0
}

span.subtitle {
    font-weight: lighter;
    color: var(--secondary-bgcolor);
}

.boiler-card {
    text-align: left;
    background-color: var(--primary-fgcolor);
    color: var(--primary-fontcolor);
    margin: 1em;
    /* box-shadow: 0 18px 18px -18px #ebedf5; */
    border-radius: 10px 10px 10px 10px;
    display: block;
}

.boiler-card header {
    text-align: center;
    font-size: 12pt;
    /* background-color: var(--secondary-bgcolor); */
    margin: 0;
    border-radius: 10px 10px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.card-title, .card-subtitle {
    color: var(--primary-fontcolor);
    margin: 0;
}

.card-title {
    font-weight: bold;
}

.card-subtitle {
    color: #bccaff;
    font-weight: bold;
    font-size: 14px;
}

.card-body {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.boiler-card-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.boiler-card button {
    background-color: var(--button-color);
    color: #fff;
    border: none;
    margin: .2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-radius: 18px 18px 18px 18px;
}

button { 
    cursor:pointer; 
}

button:hover { 
    background-color:var(--button-hover-color);
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
